.pruebacolor1{
    background: blue;
}
.pruebacolor2{
    background: red;
}

body{
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
}
/* HEADER */
header{
    /*position: fixed;*/
}
/* BARRA DE NAVEGACION */
#botonesnav a:hover{
    color: #b91817;
}
#ScrollingDropdown{
    color: white;
}
#navbarSupportedContent{
    margin-left: 20px;
}
.contenedorprin{
    margin-bottom: -90px;
}
/* EFECTO PARALLAX*/

.fondo-principal{
    width: 100%;
    height: 100vh;
    background-image: url("../images/portada.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fondo-principal h1{
    font-size: 60px;
    color: white;
    text-shadow: 0 0 30px #b91817;
    text-align: center;
}
.informacion{
    text-align: justify;
    padding: 40px;
    font-size: 22px;
    color: white;
}
/* FONDOS DE ALBUMS */
.seccion1{
    background-image: url("../images/stadiumtour.jpg");
}
.seccion2{
    background-image: url("../images/herzeleid.png");
}
.seccion3{
    background-image: url("../images/sehnsucht.jpg");
}
.seccion4{
    background-image: url("../images/mutter.jpg");
}
.seccion5{
    background-image: url("../images/reise.jpg");
}
.seccion6{
    background-image: url("../images/rosenrot.jpg");
}
.seccion7{
    background-image: url("../images/liebe.png");
}
.seccion8{
    background-image: url("../images/rammstein.jpg");
}
.seccion-para{
    max-width: 1100px;
    width: 90%;
    overflow: hidden;
    margin: auto;
    color: white;
    padding: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.secciones{
    width: 100%;
    height: 110vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secciones h2{
    font-size: 60px;
    text-align: center;
    padding: 400px 0px;
    color: white;
}
.titulos{
    font-size: 35px;
    text-align: center;
    padding: 40px 0px;
    text-shadow: 0 0 30px #b91817;
}

.tituloespecial h2{
    font-size: 35px;
    text-align: center;
    padding: 40px 0px;
    text-shadow: 0 0 30px #b91817;
}
.ficha{
    background: black;
}
.parrafos{
    font-size: 20px;
    text-align: justify;
    padding: 20px;
}
.imagenesrespo img{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}
.video{
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.centrado{
    margin: auto;
    display: flex;
    align-items: center;
}
.titulocan{
    text-align: center;
    font-size: 30px;
}
.tablacanciones{
    margin-top: 20px;
}
.informacioncan{
    text-align: justify;
    padding: 40px;
    font-size: 22px;
    color: white;
    margin-top: -60px;
    margin-bottom: -50px;
}
.canciones{
    color: black;
}
.audios{
    margin-top: -20px;
    padding: 40px;
    align-items: center;
}
.audios h3{
    text-align: center;
    text-shadow: 0 0 30px #b91817;
}
.audios h4{
    text-align: center;
    text-shadow: 0 0 30px #b91817;
}

/* FOOTER */
footer {
    position:absolute;
    height:50px;
    line-height:50px;
    background:black;
    color:white;
    text-align:center;
    left:0;
    width:100%;
}
footer.bottom {
    bottom:0;
}